In [56]:
import numpy as np  ## linear algebra
import pandas as pd ##export excel
import matplotlib.pyplot as plt ## for data visualization 
import seaborn as snb  ## for statistical data visualization
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv("Adult_1.csv")

In [8]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df.shape   ## we see that 32561 rows and 15 columns are present ie., 15 attributes are present

(32561, 15)

In [10]:
df.describe()

,0,2,4,10,11,12
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14'],
      dtype='object')

In [12]:
col = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

df.columns = col    ## renaming colmuns

In [13]:
df.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [15]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [16]:
cat = [i for i in df.columns if df[i].dtypes == 'object'] ##pulling the categorical datatypes and assinging it to a variable
print(cat)

['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [17]:
print(len(cat))

9

In [18]:
df[cat].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

In [19]:
x = df.drop(["income"], axis=1)

y = df["income"]

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [21]:
x_train.shape

(22792, 14)

In [22]:
x_test.shape

(9769, 14)

In [23]:
cat

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country',
 'income']

In [24]:
num = [i for i in df.columns if df[i].dtype!= "object"]

## enconding categorical variables

In [25]:
df[cat].head(5)

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [26]:
pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in c:\users\srivatsa\anaconda3\lib\site-packages (2.5.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (1.20.3)
Requirement already satisfied: scipy>=1.0.0 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\srivatsa\anaconda3\lib\site-packages (from category_encoders) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\srivatsa\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\srivatsa\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\srivatsa\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\srivatsa\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\srivatsa\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import category_encoders as ce

In [38]:
pd.get_dummies(cat, columns=['workclass','education', 'marital_status', 'occupation', 'relationship', 
                                 'race', 'sex', 'native_country']).head()

,education,income,marital_status,native_country,occupation,race,relationship,sex,workclass
0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0

In [42]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(x_train, y_train)

GaussianNB()

In [55]:
y_pred = gnb.predict(x_test)

print(pd.DataFrame(y_pred))

           0
0      <=50K
1      <=50K
2      <=50K
3       >50K
4       >50K
...      ...
9764    >50K
9765    >50K
9766    >50K
9767   <=50K
9768   <=50K

[9769 rows x 1 columns]

In [57]:
acc_score = accuracy_score(y_test, y_pred)

In [59]:
print("accuracy score is", acc_score)

accuracy score is 0.7974204115057836

## comparing training score and test score

In [64]:
print('Training set score: {:.4f}'.format(gnb.score(x_train, y_train)))

print('Test set score: {:.4f}'.format(gnb.score(x_test, y_test)))

Training set score: 0.7939
Test set score: 0.7974