In [283]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score,roc_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [284]:
df = pd.read_csv("Bank Marketing.csv")

In [285]:
df.shape

(45211, 17)

In [286]:
df.head(5)

,Age,Job,Marital Status,Education,Credit,Balance (euros),Housing Loan,Personal Loan,Contact,Last Contact Day,Last Contact Month,Last Contact Duration,Campaign,Pdays,Previous,Poutcome,Subscription
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,1
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,1
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,1
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,1

In [287]:
df.isna().sum()

Age                      0
Job                      0
Marital Status           0
Education                0
Credit                   0
Balance (euros)          0
Housing Loan             0
Personal Loan            0
Contact                  0
Last Contact Day         0
Last Contact Month       0
Last Contact Duration    0
Campaign                 0
Pdays                    0
Previous                 0
Poutcome                 0
Subscription             0
dtype: int64

In [288]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    45211 non-null  int64
 1   Job                    45211 non-null  object
 2   Marital Status         45211 non-null  object
 3   Education              45211 non-null  object
 4   Credit                 45211 non-null  object
 5   Balance (euros)        45211 non-null  int64
 6   Housing Loan           45211 non-null  object
 7   Personal Loan          45211 non-null  object
 8   Contact                45211 non-null  object
 9   Last Contact Day       45211 non-null  int64
 10  Last Contact Month     45211 non-null  object
 11  Last Contact Duration  45211 non-null  int64
 12  Campaign               45211 non-null  int64
 13  Pdays                  45211 non-null  int64
 14  Previous               45211 non-null  int64
 15  Poutcome               45211 non-null  object
 16  Subscription           45211 non-null  int64
dtypes: int64(8), object(9)
memory usage: 5.9+ MB

In [289]:
df['Job'].value_counts(dropna = False)

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: Job, dtype: int64

In [290]:
c = ["blue-collar","management","technician","admin."]

In [291]:
df['Job'] = df['Job'].apply(lambda x:x if x in c else "others" )

In [292]:
df['Job'].value_counts(dropna = False)

others         13253
blue-collar     9732
management      9458
technician      7597
admin.          5171
Name: Job, dtype: int64

In [293]:
df['Marital Status'].value_counts(dropna = False)

married     27214
single      12790
divorced     5207
Name: Marital Status, dtype: int64

In [294]:
df["Marital Status"].replace({'married':0,'single':1,'divorced':2}, inplace = True)

In [295]:
df['Marital Status'].value_counts(dropna = False)

0    27214
1    12790
2     5207
Name: Marital Status, dtype: int64

In [296]:
df["Education"].value_counts(dropna = False)

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: Education, dtype: int64

In [297]:
df["Education"].replace({'secondary':0,'tertiary':1,'primary':2,'unknown':3}, inplace = True)

In [298]:
df["Education"].value_counts(dropna = False)

0    23202
1    13301
2     6851
3     1857
Name: Education, dtype: int64

In [299]:
df["Credit"].value_counts(dropna = False)

no     44396
yes      815
Name: Credit, dtype: int64

In [300]:
df["Credit"].replace({'yes':0,'no':1}, inplace = True)

In [301]:
df["Credit"].value_counts(dropna = False)

1    44396
0      815
Name: Credit, dtype: int64

In [302]:
df["Housing Loan"].value_counts(dropna = False)

yes    25130
no     20081
Name: Housing Loan, dtype: int64

In [303]:
df["Housing Loan"].replace({'yes':0,'no':1}, inplace = True)

In [304]:
df["Housing Loan"].value_counts(dropna = False)

0    25130
1    20081
Name: Housing Loan, dtype: int64

In [305]:
df["Personal Loan"].value_counts(dropna = False)

no     37967
yes     7244
Name: Personal Loan, dtype: int64

In [306]:
df["Personal Loan"].replace({'yes':0,'no':1}, inplace = True)

In [307]:
df["Personal Loan"].value_counts(dropna = False)

1    37967
0     7244
Name: Personal Loan, dtype: int64

In [308]:
df["Contact"].value_counts(dropna = False)

cellular     29285
unknown      13020
telephone     2906
Name: Contact, dtype: int64

In [309]:
df["Contact"].replace({'cellular':0,'unknown':1,'telephone':2}, inplace = True)

In [310]:
df["Poutcome"].value_counts(dropna = False)

unknown    36959
failure     4901
other       1840
success     1511
Name: Poutcome, dtype: int64

In [311]:
df["Poutcome"].replace({'unknown':0,'failure':1,'other':2,'success':3}, inplace = True)

In [312]:
df["Poutcome"].value_counts(dropna = False)

0    36959
1     4901
2     1840
3     1511
Name: Poutcome, dtype: int64

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    45211 non-null  int64
 1   Job                    45211 non-null  object
 2   Marital Status         45211 non-null  int64
 3   Education              45211 non-null  int64
 4   Credit                 45211 non-null  int64
 5   Balance (euros)        45211 non-null  int64
 6   Housing Loan           45211 non-null  int64
 7   Personal Loan          45211 non-null  int64
 8   Contact                45211 non-null  int64
 9   Last Contact Day       45211 non-null  int64
 10  Last Contact Month     45211 non-null  object
 11  Last Contact Duration  45211 non-null  int64
 12  Campaign               45211 non-null  int64
 13  Pdays                  45211 non-null  int64
 14  Previous               45211 non-null  int64
 15  Poutcome               45211 non-null  int64
 16  Subscription           45211 non-null  int64
dtypes: int64(15), object(2)
memory usage: 5.9+ MB

In [314]:
enc = pd.get_dummies(df["Job"])

In [315]:
enc.head(5)

   admin.  blue-collar  management  others  technician
0       0            0           1       0           0
1       0            0           0       0           1
2       0            0           0       1           0
3       0            1           0       0           0
4       0            0           0       1           0

In [316]:
df = pd.concat([enc,df.drop(columns= ['Job'])], axis = 1)

In [317]:
df.head(5)

,admin.,blue-collar,management,others,technician,Age,Marital Status,Education,Credit,Balance (euros),...,Personal Loan,Contact,Last Contact Day,Last Contact Month,Last Contact Duration,Campaign,Pdays,Previous,Poutcome,Subscription
0,0,0,1,0,0,58,0,1,1,2143,...,1,1,5,may,261,1,-1,0,0,1
1,0,0,0,0,1,44,1,0,1,29,...,1,1,5,may,151,1,-1,0,0,1
2,0,0,0,1,0,33,0,0,1,2,...,0,1,5,may,76,1,-1,0,0,1
3,0,1,0,0,0,47,0,3,1,1506,...,1,1,5,may,92,1,-1,0,0,1
4,0,0,0,1,0,33,1,3,1,1,...,1,1,5,may,198,1,-1,0,0,1

In [318]:
df["Subscription"]

0        1
1        1
2        1
3        1
4        1
        ..
45206    2
45207    2
45208    2
45209    1
45210    1
Name: Subscription, Length: 45211, dtype: int64

In [73]:
x = df.drop(columns=["Last Contact Month","Subscription"])
y = df[['Subscription']]

In [319]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=32)

In [320]:
train_x.shape,test_x.shape, train_y.shape, test_y.shape

((36168, 14), (9043, 14), (36168, 1), (9043, 1))

In [321]:
model_DC = DecisionTreeClassifier(criterion = 'entropy')

In [322]:
model_RFC = RandomForestClassifier()

In [323]:
model_RFC.fit(x,y)

C:\Users\Srivatsa\AppData\Local\Temp/ipykernel_11596/3847876101.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_RFC.fit(x,y)

RandomForestClassifier()

In [341]:
train1_pred = model_DC.predict(train_x)
test1_pred = model_DC.predict(test_x)

In [342]:
accuracy_score(train_y,train1_pred)

1.0

In [343]:
def rmsle(y_true, y_pred):
    return 1 - np.sqrt(np.square(np.log10(y_pred + 1) - np.log10(y_true + 1)).mean())

In [344]:
model_DC.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [345]:
train_pred = model_RFC.predict(train_x)
test_pred = model_RFC.predict(test_x)

In [346]:
accuracy_score(train_y,train_pred)

0.999944702499447

In [347]:
print('Confusion matrix : \n', confusion_matrix(train_y, train_pred))

Confusion matrix :
 [[31913     0]
 [    2  4253]]

In [348]:
from sklearn.linear_model import LogisticRegression

In [349]:
model1 = LogisticRegression(max_iter=500)
model1.fit(train_x,train_y)

C:\Users\Srivatsa\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Srivatsa\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=500)

In [350]:
y_pred = model1.predict(train_x)
print('Train accuracy')
print('accuracy score',accuracy_score(train_y,y_pred))
print('f1 score',f1_score(train_y,y_pred))
print('confusion matrix\n',confusion_matrix(train_y,y_pred))

Train accuracy
accuracy score 0.8974784339747843
f1 score 0.9439286254347498
confusion matrix
 [[31211   702]
 [ 3006  1249]]